# Data Science Tools and Ecosystem

This is the summary of the data science tools and ecosystem

**Objectives:**
- List of popular languages for Data Science
- List of popular libraries for Data Science
- Table of popular Data Science Tools

## Author
Pavorn Thongyoo

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. tensorflow
3. panda
4. matplotlib
5. caret
6. ggplot

| Data Science Tools |
|---|
|Jupyter Notebook|
|R|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335